body
{
    background-color: rgb(255,255,255);
}
h1.Hadding1
{
    background-color: rgb(51,153,0);
    opacity: 0.2; 
}
h2.Hadding2
{
    background-color: rgb(55,165,201);
    opacity: 0.4;
}
h3.Hadding3
{
    background-color: rgb(0,225,65);
    opacity: 0.6;
}
h1.first
{
    background-color: rgba(255,0,0,0.2);
}
h2.sec
{
    background-color: rgba(0,0,255,0.4);
}
h3.third
{
    background-color: rgba(0,128,0,0.6);
}